<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#1e434c"
    },
    "button": {
      "background": "#ffd700"
    }
  },
  "theme": "edgeless",
  "position": "bottom-right",
  "content": {
    "message": "Diese Webseite verwendet Cookies. Durch das Nutzen dieser Seite sind Sie mit der Verwendung von Cookies einverstanden.",
    "dismiss": "OK",
    "link": "Mehr Informationen",
    "href": "https://augartengold.at/pages/impressum.html#cookies"
  }
})});
</script>
